$radius: 10px;
.card {
  border: 2px solid #0b5ed7;
  border-radius: $radius;
  text-align: center;
  padding: 0px !important;
  margin: 20px;
  height: fit-content;
  align-content: center;


  
}
.content {
  padding: 5px;
  background-color: #fff;
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}
.img {
  border-radius: $radius $radius 0 0;
}
.badge {
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  font-size: 17px;
}
.row.results {
  text-align: center !important;
  display: block;
  font-size: larger;
}

.row.results.text-center {
  display: block;
  font-size: larger;
  margin-right: 5% !important;
}

@media screen and (max-width: 575px ) {

.card {
  width: auto !important;
}
}
