input[type="search"] {
  width: 40%;
  border-radius: 8px;
  border: 2px solid #0b5ed7;
  box-shadow: 1px 3px 9px rgba($color: #000000, $alpha: 0.25);
  padding: 10px 15px;
  margin-left: 6.5rem;

  &:focus {
    outline: green;
    border-color: green;
  }
}

input[type="search"]::-webkit-search-decoration:hover,
input[type="search"] ::-webkit-search-cancel-button:hover {
  cursor: pointer;
}

.btn {
  box-shadow: 1px 3px 9px rgba($color: #000000, $alpha: 0.25);
}



@media (max-width: 768px) {
input[type="search"] {
  width: 75%;
  margin: auto;
}
}

@media (max-width: 576px) {
  input[type="search"] {
    width: 80%;
    margin: auto;
  }
}